body {
    font-family: "Afacad Flux", sans-serif;
    font-size: 62.5%;
    background-color: aqua;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.rotacao-de-foto {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    padding: 50px 40px;

}

.conteiner .conteudo {
    display: none;
    color: #ffffff;
    margin-top: 150px;
    width: 100%;
    min-width: 363px;
}

.conteiner .conteudo.ativo {
    display: block;
}

.conteudo .titulo {
    font-family: "Rudisfave demo", serif;
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 1px;
    text-shadow: 4px 4px 1px #000000;
}

@font-face {
    font-family: "Rudisfave demo";
    src: url(../fontes/Rudisfave\ demo.ttf);
    src: url(../fontes/Rudisfave\ demo.otf);
}

.conteudo .slogan {
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 400;
    margin: 10px 0 40px;
}

.conteudo .descricao {
    width: 60%;
    min-width: 363px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4rem;
    height: 200px;
    overflow: auto;
}

.conteudo .descricao, .conteudo .slogan {
    text-shadow: 2px 2px 3px #000000;
}

.conteiner .botao-assistir {
    min-width: 200px;
    padding: 15px;
    background-color: transparent;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 5px;
    font-size: 1.4rem;
    cursor: pointer;
}

.botoes-da-rotacao {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botoes-da-rotacao .botao {
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    border: 2px solid #b1b1b1;
    cursor: pointer;
}

.botoes-da-rotacao .botao.ativo {
    background-color: green;
}

.rotacao-de-foto .foto {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}